
/obj
/bin
.vs/AutomationPracticeSiteProject/FileContentIndex/7ca09ffa-604d-4dfb-80fa-6966a3af24ae.vsidx
.vs/AutomationPracticeSiteProject/FileContentIndex/e7d588b4-d250-462b-a103-84fce47707f8.vsidx
.vs/AutomationPracticeSiteProject/FileContentIndex/88e055e9-be85-4f59-91bc-da6a11262a32.vsidx
/.vs
